<ion-view cache-view="false" view-title="Entrance" ng-controller="EntranceCtrl" ng-init="onInit()">
    <ion-content class="login-body">
        <div ng-if="!logged" style="margin-top: 50px">
            <h1 class="text-center">
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                KrakmApp
            </h1>
        </div>
        <div ng-if="!logged" class="login-page">
            <div class="form">
                <form class="login-form">
                    <label ng-if="errorMsg" class="label label-danger">{{errorMsg}}</label>
                    <input ng-model="user.hotelId" class="input-login" type="text" placeholder="hotel id" />
                    <input ng-model="user.key" class="input-login" type="text" placeholder="private key" />
                    <button class="on-login" ng-click="login(user)">login</button>
                    <p class="message">
                        Have no key?<br />
                        <a href="#">Send email to front-office manager</a>
                    </p>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>