<ion-view view-title="Entrance">
    <ion-content class="login-body">
        <div style="margin-top: 50px">
            <h1 class="text-center">
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                KrakmApp
            </h1>
        </div>
        <div class="login-page">
            <div class="form">
                <form class="login-form">
                    <input class="input-login" type="text" placeholder="hotel id" />
                    <input class="input-login" type="text" placeholder="private key" />
                    <button class="on-login">login</button>
                    <p class="message">
                        Have no key?<br />
                        <a href="#">Send email to front-office manager</a>
                    </p>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>