<ion-view view-title="Native configuration">
    <ion-content class="login-body">
        <div style="margin-top: 50px">
            <h1 class="text-center">
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                KrakmApp
            </h1>
        </div>

        <ul class="list" style="margin-top: 70px;">
            <li class="item item-toggle">
                Set offline notifications:
                <label class="toggle toggle-positive toggle-small">
                    <input type="checkbox" checked>
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
            <li class="item item-toggle">
                Optimize routes:
                <label class="toggle toggle-positive toggle-small">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
            <li class="item item-toggle">
                Autoupdate data:
                <label class="toggle toggle-positive toggle-small">
                    <input type="checkbox" checked>
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
        </ul>
    </ion-content>
</ion-view>