<ion-view view-title="Route: {{routeModel.route.name}}" ng-controller="SingleRouteCtrl">
    <ion-content class="login-body">
        <button class="button button-bar-stable button-fab button-fab-top-right">
            <i class="icon ion-ios-navigate"></i>
        </button>
        <div id="map-singleRoute" data-tap-disabled="true" style="height: 70%"></div>
        <ion-scroll class="scroll-view" direction="y" style="height: 30%">
            <table class="table" ng-repeat="point in routeModel.points">
                <tr>
                    <td width="5%" align="right">:</td>
                    <td colspan="2" width="95%">
                        From <b>{{point.start_address}}</b>,
                        to <b>{{point.end_address}}</b> ({{point.distance.text}}):
                    </td>
                </tr>
                <tr ng-repeat="step in point.steps">
                    <td width="5%"></td>
                    <td width="5%" align="right">:</td>
                    <td width="90%" ng-bind-html="step.instructions"></td>
                </tr>
            </table>
        </ion-scroll>
    </ion-content>
</ion-view>